<div id="control-instructions alert alert-info">
  <p>Controls: Right, Left, Up & Down arrow keys.</p>
</div>
<div id="score_section">
  Score: <span id="score">0</span>
</div>
<div id="road">
  <div id="white_line_1" class="white_line"></div>
  <div id="white_line_2" class="white_line"></div>
  <div id="white_line_3" class="white_line"></div>
  <div id="car" class="car">
    <div class="front_glass"></div>
    <div class="back_glass"></div>
    <div class="front_light_left"></div>
    <div class="front_light_right"></div>
    <div class="front_tyre_left"></div>
    <div class="front_tyre_right"></div>
    <div class="back_tyre_left"></div>
    <div class="back_tyre_right"></div>
  </div>
  <div id="car_1" class="car">
    <div class="front_glass"></div>
    <div class="back_glass"></div>
    <div class="front_light_left"></div>
    <div class="front_light_right"></div>
    <div class="front_tyre_left"></div>
    <div class="front_tyre_right"></div>
    <div class="back_tyre_left"></div>
    <div class="back_tyre_right"></div>
  </div>
  <div id="car_2" class="car">
    <div class="front_glass"></div>
    <div class="back_glass"></div>
    <div class="front_light_left"></div>
    <div class="front_light_right"></div>
    <div class="front_tyre_left"></div>
    <div class="front_tyre_right"></div>
    <div class="back_tyre_left"></div>
    <div class="back_tyre_right"></div>
  </div>
  <div id="car_3" class="car">
    <div class="front_glass"></div>
    <div class="back_glass"></div>
    <div class="front_light_left"></div>
    <div class="front_light_right"></div>
    <div class="front_tyre_left"></div>
    <div class="front_tyre_right"></div>
    <div class="back_tyre_left"></div>
    <div class="back_tyre_right"></div>
  </div>
  <div id="restart_section">
    <button id="restart">
      Restart<br>
      <small class="small_text">(press Enter)</small>
    </button>
  </div>
</div>