<div class="container">
  <h2>Cards with Contextual Classes</h2>
  <br>
  <div class="card bg-success text-white">
    <div class="card-body">Start Game</div>
  </div>
  <br>
  <div class="card bg-info text-white">
    <div class="card-body">See LeaderBoard</div>
  </div>
  <br>
</div>