<div class="container">
  <%= image_tag 'logo.png', class: 'img-responsive', alt: 'logo' %>
  <br>
  <br>
  <div class="card bg-success text-white">
    <%= link_to race_start_path do %>
      <div class="card-body">Start Game</div>
    <% end %>
  </div>
  <br>
  <div class="card bg-info text-white">
    <div class="card-body">See LeaderBoard</div>
  </div>
  <br>
</div>