// Place all the styles related to the Race controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#road {
  position: relative;
  height: 90vh;
  width: 25%;
  left: 35%;
  margin-top: 20px;;
  background-color: #292929;
  overflow: hidden;
}
.white_line {
  position: absolute;
  height: 150px;
  width: 4%;
  margin-left: 48%;
  background-color: rgba(255,255,255,0.5);
}
#white_line_1 {
  top: -150px;
}
#white_line_2 {
  top: 150px;
}
#white_line_3 {
  top: 450px;
}
.car {
  position: absolute;
  height: 60px;
  width: 40px;
  border-radius: 5px;
  box-shadow: 0px 1px 8px 0px black;
}
#car {
  bottom: 8%;
  left: 60%;
  background-color: #e66315;
}
.front_glass {
  position: absolute;
  height: 20%;
  width: 60%;
  margin-left: 20%;
  top: 15%;
  border-radius: 0px 0px 5px 5px;
  background-color: #484848;
}
.back_glass {
  position: absolute;
  height: 20%;
  width: 60%;
  margin-left: 20%;
  bottom: 15%;
  border-radius: 5px 5px 0px 0px;
  background-color: #484848;
}
.front_light_left {
  position: absolute;
  height: 10%;
  width: 20%;
  margin-left: 10%;
  top: -6%;
  border-radius: 5px 5px 0px 0px;
  background-color: #efefef;
}
.front_light_right {
  position: absolute;
  height: 10%;
  width: 20%;
  margin-left: 70%;
  top: -6%;
  border-radius: 5px 5px 0px 0px;
  background-color: #efefef;
}
.front_tyre_left {
  position: absolute;
  height: 20%;
  width: 10%;
  background-color: grey;
  top: 20%;
  left: -10%;
  border-radius: 5px 0px 0px 5px;
}
.front_tyre_right {
  position: absolute;
  height: 20%;
  width: 10%;
  background-color: grey;
  top: 20%;
  left: 100%;
  border-radius: 0px 5px 5px 0px;
}
.back_tyre_left {
  position: absolute;
  height: 20%;
  width: 10%;
  background-color: grey;
  top: 70%;
  left: -10%;
  border-radius: 5px 0px 0px 5px;
}
.back_tyre_right {
  position: absolute;
  height: 20%;
  width: 10%;
  background-color: grey;
  top: 70%;
  left: 100%;
  border-radius: 0px 5px 5px 0px;
}
#car_1 {
  top: -100px;
  left: 60%;
  background-color: #8cff5d;
}
#car_2 {
  top: -200px;
  left: 40%;
  background-color: #ad8fff;
}
#car_3 {
  top: -350px;
  left: 50%;
  background-color: #26c5ff;
}
#restart_section {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #292929;
  color: white;
  font-family: sans-serif;
  font-size: 40px;
  text-align: center;
  display: none;
}

#restart {
  border: none;
  padding: 25px;
  color: white;
  background-color: #8a64ff;
  font-size: 30px;
  margin-top: 30%;
}
.small_text{
  font-size: 15px;
}
#score_section {
  position: absolute;
  margin-top: 20%;
  margin-left: 10%;
  font-size: 35px;
  background-color: white;
  color: #454545;
  padding: 10px;
  box-shadow: 4px 4px 0px 1px #808080;
}

